.navbar {
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20pt;
    background-color:#002a66;
    height: 8vh;
    width: 100vw;
    color: white;

    .logo {
      display: flex;
      align-items: center;
      padding: 0 15px;

      p {
        margin-right: 10px;
      }

      span {
        font-weight: bold;
      }

      img {
        max-height: 40px;
      }
    }

    .links {
      display: flex;
      gap: 10px;
      padding: 0 15px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media (min-width: 360px) {
  .navbar {
    nav {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    nav {
      width: 100%;
      font-size: 1.7rem;
    }
  }
}
